{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Ingreso de Vehículos</h2>
    
    <!-- Mostrar mensajes de éxito si los hay -->
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Formulario para agregar vehículos -->
    <form method="post" action="{% url 'add_vehiculo' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endblock %}